:root {
    --color-white-primary: #f4eade;
    --color-white-secondary: #fffbf2;
    --color-white-tertiary: #fefefe;

    --color-text: #512518;
    --color-button: #ddd4c3;
    --color-button-hover: #c5b8a9;
    --color-button-important: #d62400;
    --color-button-important-hover: #b31e00;

    --font-arial: "Arial", sans-serif;
    --font-anton: "Anton", sans-serif;
    --font-putua-one: "Patua One", serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.button, button, input {
    padding: 10px;
    background-color: var(--color-button);
    border-radius: 10px;
}

body {
    height: 100vh;

    .topbar {
        height: 15%;
        margin: 20px;
        gap: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            height: 100%;
        }

        .searchbar {
            margin-left: auto;
        }
    }

    .container {
        height: 85%;
    }
}