:root {
    --color-white-primary: #f4eade;
    --color-white-secondary: #fffbf2;
    --color-white-tertiary: #fefefe;

    --color-text: #512518;
    --color-button: #ddd4c3;
    --color-button-hover: #c5b8a9;
    --color-button-important: #d62400;
    --color-button-important-hover: #b31e00;

    --font-arial: "Arial", sans-serif;
    --font-anton: "Anton", sans-serif;
    --font-putua-one: "Patua One", serif;
}

html,
body {
    font-family: var(--font-arial);
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.button,
button,
input {
    padding: 10px;
    background-color: var(--color-button);
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-hover);
    }

    &.bigbutton {
        padding: 20px;
        font-size: 1.5rem;
        background-color: var(--color-button-important);
        border: none;
        width: 100%;
        font-weight: bold;

        &:hover {
            background-color: var(--color-button-important-hover);
        }
    }
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--color-white-secondary);
    height: 100vh;

    .topbar {
        height: 15%;
        padding: 20px;
        gap: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            height: 100%;
        }

        .searchbar {
            margin-left: auto;
        }

        .languageselector {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 47px;

            img {
                height: 100%;
                border-radius: 5px;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: row;

        height: 85%;

        .screens,
        .order {
            height: 100%;
        }

        .screens {
            background-color: var(--color-white-primary);
            width: 70%;
            border-top-right-radius: 30px;

            &>div {
                width: 100%;
                height: 100%;

                &.hidden {
                    display: none;
                }
            }

            .products {
                display: flex;
                flex-direction: column;

                .categories {
                    height: 25%;
                    display: flex;
                    flex-direction: row;
                    overflow-x: scroll;
                    padding: 20px;
                    gap: 20px;

                    .category {
                        padding: 10px;
                        border-radius: 10px;
                        background-color: var(--color-white-tertiary);
                        aspect-ratio: 1/1;

                        img {
                            width: 100%;
                        }

                        p {
                            font-size: 1rem;
                            font-weight: bold;
                        }

                        &.selected {
                            background-color: var(--color-button);
                        }
                    }
                }
            }

            .languageselector {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding: 20%;

                .language {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;

                    img {
                        border-radius: 10px;
                        height: 4rem;
                    }

                    h1 {
                        font-size: 2rem;
                    }
                }
            }

            .searchmenu {
                display: flex;
                flex-direction: column;
                align-items: center;

                .products {
                    height: 100%;
                }

                .searchcontainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    background-color: var(--color-white-tertiary);
                    padding: 20px;
                    width: 100%;

                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                    input {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .order {
            display: flex;
            flex-direction: column;

            width: 30%;

            .receiptholder {
                height: 80%;
                
                .receipt {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    height: 100%;
                    padding: 10px;
                    overflow-y: scroll;

                    .product {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        padding: 10px;
                        border-radius: 10px;
                        background-color: var(--color-white-tertiary);

                        .pricerow {
                            display: flex;
                            justify-content: space-between;

                            p {
                                font-size: 1.5rem;
                                font-size: bold;
                            }
                        }
                    }
                }
            }

            .actions {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 20%;

                padding: 20px;
                background-color: var(--color-white-tertiary);

                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

                .totalprice {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .keyboard {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5px;

            .key {
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                flex: 1 1
            }
        }
    }

    .productactions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;

        button {
            font-weight: bold;
            aspect-ratio: 1/1;
            height: 3rem;
        }

        .quantity {
            background-color: var(--color-white-primary);
            border-radius: 10px;
            aspect-ratio: 1/1;
            height: 3rem;
            font-size: 1.5rem;
            padding: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .productitems {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        gap: 20px;
        padding: 20px;

        max-height: 75%;
        overflow-y: scroll;
        padding-top: 0px;

        .product {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--color-white-tertiary);
            /* max-height: 300px; */

            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }
}

